[submodule "submodule/Alamofire"]
	path = submodule/Alamofire
	url = git@github.com:Alamofire/Alamofire.git
[submodule "submodule/SwiftyJSON"]
	path = submodule/SwiftyJSON
	url = git@github.com:SwiftyJSON/SwiftyJSON.git
[submodule "submodule/Cartography"]
	path = submodule/Cartography
	url = git@github.com:robb/Cartography.git
[submodule "submodule/SDWebImage"]
	path = submodule/SDWebImage
	url = git@github.com:rs/SDWebImage.git
[submodule "submodule/SVProgressHUD"]
	path = submodule/SVProgressHUD
	url = git@github.com:TransitApp/SVProgressHUD.git
[submodule "submodule/Async"]
	path = submodule/Async
	url = git@github.com:duemunk/Async.git
[submodule "submodule/ZFRippleButton"]
	path = submodule/ZFRippleButton
	url = git@github.com:zoonooz/ZFRippleButton.git
[submodule "submodule/ExSwift"]
	path = submodule/ExSwift
	url = git@github.com:pNre/ExSwift.git
[submodule "submodule/XLForm"]
	path = submodule/XLForm
	url = git@github.com:xmartlabs/XLForm.git
